# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Planificacion_ERCA EGIPTO.docx
Planificaciones ABJ EGIPTO.docx
Planificaciones ABJ EGIPTO.pdf
Planificacion_ERCA EGIPTO.pdf
Planificaciones ABJ INDIA.pdf
Planificacion_ERCA INDIA.docx
Planificaciones ABJ INDIA.docx
Planificacion_ERCA INDIA.pdf
